.nav-bg-color{
    background-color: var(--background-nav-color);
    transition: background-color 0.25s ease-in-out;
}

.notebook-home{
    font-weight: 800 !important;
    font-size: 30px !important;
}

.navlink-text-notes, 
.navlink-text-login{
    color: var(--primary-text-color) !important;
}

.navlink-text-login{
    margin-right: 120px;
}