.new-notes-container .react-quill-class {
    height: 100vh;
    margin: 60px auto;
    width: 90%;
}

.ql-editor p {
    color: var(--primary-text-color);
}

.grid-note-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.grid-note-container form {
    grid-column: span 3;
}

.grid-note-container .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.grid-note-container form input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-text-color) !important;
}

.from-size-item {
    max-width: 400px; 
    margin: 0 auto; 
    width: 100%; 
}

.from-size-item:first-child {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 995px) {
    .new-notes-container .react-quill-class {
        height: 30vh;
        margin: 60px auto;
        width: 90%;
    }

    .grid-note-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }

}

@media screen and (max-width: 620px) {
    .new-notes-container .react-quill-class {
        height: 30vh;
        margin: 60px auto;
        width: 90%;
    }

    .grid-note-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }

}


@media screen and (max-width: 450px) {
    .new-notes-container .react-quill-class {
        height: 30vh;
        margin: 60px auto;
        width: 90%;
    }

    .grid-note-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }

}