.new-notes-container .react-quill-class {
    height: 100vh;
    margin: 60px auto;
    max-width: 1200px;
    
}

.ql-editor p {
    color: var(--primary-text-color);
}

.grid-note-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.grid-note-container form {
    grid-column: span 3;
}

.grid-note-container .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.grid-note-container form input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-text-color) !important;
}

.from-size-item {
    max-width: 400px; 
    margin: 0 auto; 
    width: 100%; 
}

.from-size-item:first-child {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

svg path.ql-fill{
    fill: var(--primary-text-color) !important;
}

.ql-picker-label{
    color: var(--primary-text-color) !important;
}

.ql-stroke {
    stroke: var(--primary-text-color) !important;
}

.ql-direction svg{
    stroke: var(--primary-text-color) !important;
}

.ql-snow .ql-picker-options{
    background-color: var(--background-color) !important;
}

.ql-snow .ql-picker{
    color: var(--primary-text-color) !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: var(--primary-text-color) !important;
}


.button-submit {
  backface-visibility: hidden;
  background: var(--background-button-color);
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: var(--background-button-text-color);
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 4rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-submit:disabled {
  color: #787878;
  cursor: auto;
}

.button-submit:not(:disabled):hover {
  transform: scale(1.05);
}

.button-submit:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-submit:focus {
  outline: 0 solid transparent;
}

.button-submit:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-submit:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-submit:not(:disabled):active {
  transform: translateY(.125rem);
}

@media only screen and (min-device-width: 1201px) and (max-device-width: 1800px){
    .new-notes-container .react-quill-class {
        max-width: 1000px;
    }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1200px){
    .new-notes-container .react-quill-class {
        max-width: 850px;
    }
}
@media only screen and (min-device-width: 900px) and (max-device-width: 999px){
    .new-notes-container .react-quill-class {
        max-width: 800px;
    }

    .grid-note-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 35px;
    }

}
@media only screen and (min-device-width: 800px) and (max-device-width: 899px){
    .new-notes-container .react-quill-class {
        max-width: 650px;
    }
    .grid-note-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 45px;
    }

}
@media only screen and (min-device-width: 700px) and (max-device-width: 799px){
    .new-notes-container .react-quill-class {
        max-width: 600px;
    }
    .grid-note-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

}
@media only screen and (min-device-width: 600px) and (max-device-width: 699px){
    .new-notes-container .react-quill-class {
        max-width: 500px;
    }
    .grid-note-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }

}
@media only screen and (min-device-width: 500px) and (max-device-width: 599px){
    .new-notes-container .react-quill-class {
        max-width: 400px;
    }
    .grid-note-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }

}

@media only screen and (min-device-width: 400px) and (max-device-width: 499px){
    .new-notes-container .react-quill-class {
        max-width: 300px;
    }
    .grid-note-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 120px;
    }

}

@media only screen and (min-device-width: 300px) and (max-device-width: 399px){
    .new-notes-container .react-quill-class {
        max-width: 200px;
    }
    .grid-note-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 220px;
    }

    .button-submit {
        padding: 0.8rem 3rem;
        font-size: 1.1rem;
    }

}