.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--link-color) !important;
    --bs-pagination-bg: var(--body-bg) !important;
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--background-pagination-border-color) !important;
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: var(--link-hover-color) !important;
    --bs-pagination-hover-bg: var(--pagination-hover-bg) !important;
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--pagination-active-text) !important;
    --bs-pagination-focus-bg: var(--background-pagination-hover-bg-color) !important;
    --bs-pagination-focus-box-shadow: var(--pagination-shadow) !important;
    --bs-pagination-active-color: var(--pagination-active-text) !important;
    --bs-pagination-active-bg: var(--pagination-active-bg) !important;
    --bs-pagination-active-border-color: var(--background-pagination-hover-bg-color) !important;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}