.topic-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
    min-height: 100vh;
    margin-top: 60px;
}

.topic-container{
    grid-column: span 3;
}


@media screen and (max-width: 620px) {
    .topic-container {
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width: 995px) {
    .topic-container {
        grid-template-columns: 1fr;
    }

}